footer {
    background-color: var(--main-color);
    padding: 39px;
}
footer .row {
    align-items: center;
}
footer .left,
footer .right {
    width: 50%;
}
footer .right {
    display: flex;
    justify-content: flex-end;
}
footer .left p {
    font-family: sans-serif;
    font-size: 12px;
    color: #bcbcbc;
}
.right .logo img {
    width: 33px;
}
.right .logo:not(:last-child) {
    margin-right: 20px;
}